#loginbox{
	width: 35%;
	padding: 2%;
	border: solid 1px blue;
	border-radius: 5%;
	margin-top: 100px;
	margin-left: 100px;
}

#loginhead{
	padding:2%;
	font-size: 25px;
	border-bottom: solid 1px #808080;
}

#container{
	padding-top: 5%;

}